*.37550df
*.autosave
*.user
*.user
*.user
server/Examsys.pro.user
*.obj
*.manifest
*.rc
*.res
*.ilk
*.user
*.user
*.user
*.user
*.user
*.user
server/Examsys.pro.user
server/Examsys.pro.user
client/Client.pro.user
build-Examsys-Desktop_Qt_5_3_MSVC2013_32bit-Debug/ui_SubMarkUI.h
build-Examsys-Desktop_Qt_5_3_MSVC2013_32bit-Debug/ui_ScoreManageUI.h
build-Client-Desktop_Qt_5_3_MSVC2013_32bit-Debug/config.ini
build-Client-Desktop_Qt_5_3_MSVC2013_32bit-Debug/debug/Client.exe
build-Client-Desktop_Qt_5_3_MSVC2013_32bit-Debug/debug/client.pdb
build-Client-Desktop_Qt_5_3_MSVC2013_32bit-Debug/debug/moc_client.cpp
build-Client-Desktop_Qt_5_3_MSVC2013_32bit-Debug/debug/moc_ExamUI.cpp
build-Client-Desktop_Qt_5_3_MSVC2013_32bit-Debug/debug/moc_LoginUI.cpp
build-Client-Desktop_Qt_5_3_MSVC2013_32bit-Debug/debug/moc_mainapp.cpp
build-Client-Desktop_Qt_5_3_MSVC2013_32bit-Debug/debug/moc_MainFrameUI.cpp
build-Client-Desktop_Qt_5_3_MSVC2013_32bit-Debug/debug/moc_mainwindow.cpp
build-Client-Desktop_Qt_5_3_MSVC2013_32bit-Debug/debug/qrc_res.cpp
build-Client-Desktop_Qt_5_3_MSVC2013_32bit-Debug/Makefile
build-Client-Desktop_Qt_5_3_MSVC2013_32bit-Debug/Makefile.Debug
build-Client-Desktop_Qt_5_3_MSVC2013_32bit-Debug/Makefile.Release
build-Client-Desktop_Qt_5_3_MSVC2013_32bit-Debug/ui_ExamUI.h
build-Client-Desktop_Qt_5_3_MSVC2013_32bit-Debug/ui_LoginUI.h
build-Client-Desktop_Qt_5_3_MSVC2013_32bit-Debug/ui_MainFrameUI.h
build-Client-Desktop_Qt_5_3_MSVC2013_32bit-Debug/ui_mainwindow.h
build-Examsys-Desktop_Qt_5_3_MSVC2013_32bit-Debug/config.ini
build-Examsys-Desktop_Qt_5_3_MSVC2013_32bit-Debug/debug/Examsys.exe
build-Examsys-Desktop_Qt_5_3_MSVC2013_32bit-Debug/debug/examsys.pdb
build-Examsys-Desktop_Qt_5_3_MSVC2013_32bit-Debug/debug/moc_ConfigUI.cpp
build-Examsys-Desktop_Qt_5_3_MSVC2013_32bit-Debug/debug/moc_DBManager.cpp
build-Examsys-Desktop_Qt_5_3_MSVC2013_32bit-Debug/debug/moc_ExamCtrlUI.cpp
build-Examsys-Desktop_Qt_5_3_MSVC2013_32bit-Debug/debug/moc_InOutPutUI.cpp
build-Examsys-Desktop_Qt_5_3_MSVC2013_32bit-Debug/debug/moc_IOManager.cpp
build-Examsys-Desktop_Qt_5_3_MSVC2013_32bit-Debug/debug/moc_LoginUI.cpp
build-Examsys-Desktop_Qt_5_3_MSVC2013_32bit-Debug/debug/moc_mainapp.cpp
build-Examsys-Desktop_Qt_5_3_MSVC2013_32bit-Debug/debug/moc_MainMenuUI.cpp
build-Examsys-Desktop_Qt_5_3_MSVC2013_32bit-Debug/debug/moc_mainwindow.cpp
build-Examsys-Desktop_Qt_5_3_MSVC2013_32bit-Debug/debug/moc_MemberManageUI.cpp
build-Examsys-Desktop_Qt_5_3_MSVC2013_32bit-Debug/debug/moc_PaperManageUI.cpp
build-Examsys-Desktop_Qt_5_3_MSVC2013_32bit-Debug/debug/moc_QuestionsManageUI.cpp
build-Examsys-Desktop_Qt_5_3_MSVC2013_32bit-Debug/debug/moc_ScoreManageUI.cpp
build-Examsys-Desktop_Qt_5_3_MSVC2013_32bit-Debug/debug/moc_server.cpp
build-Examsys-Desktop_Qt_5_3_MSVC2013_32bit-Debug/debug/moc_SubMarkUI.cpp
build-Examsys-Desktop_Qt_5_3_MSVC2013_32bit-Debug/debug/qrc_res.cpp
build-Examsys-Desktop_Qt_5_3_MSVC2013_32bit-Debug/Makefile
build-Examsys-Desktop_Qt_5_3_MSVC2013_32bit-Debug/Makefile.Debug
build-Examsys-Desktop_Qt_5_3_MSVC2013_32bit-Debug/Makefile.Release
build-Examsys-Desktop_Qt_5_3_MSVC2013_32bit-Debug/ui_ConfigUI.h
build-Examsys-Desktop_Qt_5_3_MSVC2013_32bit-Debug/ui_ExamCtrlUI.h
build-Examsys-Desktop_Qt_5_3_MSVC2013_32bit-Debug/ui_InOutPutUI.h
build-Examsys-Desktop_Qt_5_3_MSVC2013_32bit-Debug/ui_LoginUI.h
build-Examsys-Desktop_Qt_5_3_MSVC2013_32bit-Debug/ui_MainMenuUI.h
build-Examsys-Desktop_Qt_5_3_MSVC2013_32bit-Debug/ui_mainwindow.h
build-Examsys-Desktop_Qt_5_3_MSVC2013_32bit-Debug/ui_MemberManageUI.h
build-Examsys-Desktop_Qt_5_3_MSVC2013_32bit-Debug/ui_PaperManageUI.h
build-Examsys-Desktop_Qt_5_3_MSVC2013_32bit-Debug/ui_QuestionsManageUI.h
*.user
client/Client.pro.user
*.user
*.user
*.user
client/Client.pro.user
*.user
*.user
*.3-pre1
server/Examsys.pro.user
client/Client.pro.user